{
    "presets": [
        "es2015",
        "stage0",
        "react",
        "react-dom",
        { "jsxPragma": "h" }
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "react": "preact-compat",
                "react-dom": "preact-compat",
                "create-react-class": "preact-compat/lib/create-react-class"
            }
        }]
    ]
}